header {
    background-color: rgb(197, 219, 242);
    height: 60px;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.cima_esquerda {
    display: flex;
    gap: 40px;
    margin-left: 20px;
}

.logo {
    justify-self: center; 
}

.direita {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}

.icones_header {
    width: 40px;
}

.botao_conectar {
    padding: 8px 16px;
    border: 1px solid #444;
}

.botao_cadastrar {
    padding: 8px 16px;
    background-color: #0b615e;
    color: white;
}
