* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #181616;
    font-family: verdana;
}
header {
    position: relative;
    background-color: rgb(197, 219, 242);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cima_esquerda {
    display: flex;
    gap: 50px;
    margin-left: 20px;
    color: #3d3d3d
}

.logo {
    display: flex;
}

.icones_header {
    display: flex;
    gap: 20px;
}

.login{
    display: flex;
    margin-right: 20px;
}

.botao_conectar {
    background-color: silver;
    border: silver;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin-right: 20px;
}